body {
	font-size: 16px;
	color: black;
	background-color: #c1c18a;
	font-family: 'Oxygen', sans-serif;
}


#header-nav {
	background-color: #99994d;
	border-radius: 0;
	border: 0;
}

.navbar-header {
	padding-bottom: 20px;
}


.navbar-brand h1 {
	color: #33001a;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
}


#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: black;
	text-align: center;
	font-size: 1.1em;
}

#nav-list a:hover {
	background: white;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}

#Ourmenu h2 {
	font-weight: bold;
	color: #33001a;
	margin-top: 30px;
	margin-bottom: 20px;
}


.conten {
	background-color: #b2b266;
	margin: 20px;
	margin-bottom: 50px;
}

.hed {
	font-size: 20px;
	font-weight:bold;
	padding: 5px;
	color: #33001a;
}

.cont {
	padding: 20px;
	padding-top: 15px;
}

#men {
	padding-right: 65px;
}


@media (max-width: 767px) {
	.navbar-brand h1 {
		font-size: 1.7em;
		
	}
	.navbar-header {
		padding-bottom: 3px;
	}
	#collapsable-nav{
	background: #53c653;
}	
}